conn vpn.warperbbs.de
        ike=aes128-sha256-ecp256,aes256-sha384-ecp384,aes128-sha256-modp2048,aes128-sha1-modp2048,aes256-sha384-modp4096,aes256-sha256-modp4096,aes256-sha1-modp4096,aes128-sha256-modp1536,aes128-sha1-modp1536,aes256-sha384-modp2048,aes256-sha256-modp2048,aes256-sha1-modp2048,aes128-sha256-modp1024,aes128-sha1-modp1024,aes256-sha384-modp1536,aes256-sha256-modp1536,aes256-sha1-modp1536,aes256-sha384-modp1024,aes256-sha256-modp1024,aes256-sha1-modp1024!
        keyexchange=ikev2
        right=mail.susi-moog.de
        rightsubnet=::1/0
        leftcert={{ IPSEC_CERT }}
        leftsubnet={{ IPSEC_SRC_IP }}
        leftid={{ IPSEC_SRC_ID }}
        leftfirewall=yes
        auto=start

conn pass
    right=127.0.0.1 # so this connection does not get used for other purposes
    type=passthrough
    leftsubnet=192.168.179.0/24
    rightsubnet=192.168.179.0/24
    auto=route

